<script type="text/javascript">
  $('.ui.dropdown').dropdown()
  $('.post-content .avtar').popup({
    inline:ture,
    position:'bottom right',
    lastResort:'bottom right'
  })
</script>
  </body>
</html>
